hydra-core==1.3.2
numpy>=1.23.5,<2
scipy>=1.10,<2
wandb
easydict
transformers==5.4.0
opencv-python
einops
thop
robosuite==1.5.0
bddl
future
matplotlib
cloudpickle
gym
numexpr
h5py
torchsde==0.2.6
torchdiffeq==0.2.5
imageio[ffmpeg]
open3d
ftfy
termcolor
torchview
diffusers==0.37.0
jaxtyping
timm
open_clip_torch==3.3.0
mamba-ssm==2.2.3.post2
safetensors==0.7.0
